@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

/* Custom styles moved from index.html */
body {
  font-family: var(--font-sans);
  background-color: #fcfbf7;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}